# workflow name
name: CI Pipeline

#dev branch에 push시 자동 실행
on:
  push:
    branches: ["dev"]

jobs:
  ci:
    #Github ubuntu 리눅스 서버에서 실행
    runs-on: ubuntu-latest

    steps:
      # GitHub 저장소 코드를 GitHub Actions 서버로 가져오기
      - name: Checkout code
        uses: actions/checkout@v3

      # CI 서버에 JDK 21 설치
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      # Gradle 실행 권한
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # build
      - name: Gradle Build
        run: ./gradlew clean build --no-daemon

      # JUnit test 진행
      - name: Run Tests
        run: ./gradlew test

      # 분석 비활성화
      - name: Static Analysis
        run: echo "분석 비활성화, 이후 추가"

      # 도커 빌더 엔진 초기화
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 도커 허브 로그인
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 도커 이미지 빌드 (1.1.x 버전)
      - name: Build Image
        run: docker build -t geooeg/jjubul-resource:1.1.${{ github.run_number }} .

      # 도커 이미지 푸쉬 (1.1.x 버전)
      - name: Push Image to Docker hub
        run: docker push geooeg/jjubul-resource:1.1.${{github.run_number}}

      # 태그를 파일에 저장
      - name: Save image tag
        run: echo "1.1.${{ github.run_number }}" > image-tag.txt

      # 아티팩트 업로드
      - name: Upload image tag artifact
        uses: actions/upload-artifact@v3
        with:
          name: image-tag
          path: image-tag.txt