# workflow name
name: CI Pipeline

# dev 브랜치에 PR이나 Merge시 작동
on:
  pull_request:
    branches: ["dev"]

  push:
    branches: ["dev"]

jobs:
  ci:
    #Github ubuntu 리눅스 서버에서 실행
    runs-on: ubuntu-latest

    steps:
      - name: GitHub 저장소 코드를 GitHub Actions 서버로 가져오기
        uses: actions/checkout@v3

      - name: Gradle + JDK 21 + 캐시 자동 설정
        uses:  gradle/actions/setup-gradle@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Gradle 실행 권한 부여
        run: chmod +x gradlew

      - name: 빌드 및 JUnit 테스트
        run: ./gradlew clean build --no-daemon --build-cache

      - name: SonarQube Static analysis
        run: ./gradlew sonarqube --no-daemon
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

